*{
    box-sizing: border-box;
}
body{
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
/* font-family: 'Roboto Slab', serif; */
}
.rob{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.rob-slab{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
button:focus{
    outline: none;
}
.display-4{
    font-size: 2.9rem;
}
.container{
    max-width: 1140px;
    height: auto;
    margin: 0 auto;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e2e919 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e2e919;
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
/* BANNER  */
.bannersc1::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    background: url(imagens/WorldCupHead.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
}
.bannersc1{
    position: relative;
    width: 100%;
    height: 800px;
    max-height: 500;
    display: flex;
}
.bannersc1 .container{
    display: flex;
    align-items: center;
}
.bannersc1 .container .content{
    background-color: #000000b6;
    padding: 100px;
    border-radius: 200px 0 200px 0;
    border-left: 20px solid #e2e919;
    border-right: 20px solid #e2e919;
}
/* SOBRE  */
.sobre{
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.71);
}
/* ESTREIA  */
.estreia::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(imagens/) no-repeat center top;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
}
.estreia{
    position: relative;
}
.estreia .content{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.estreia .content .item{
    flex: 20%;
    margin: 25px 0;
    border-left: 4px solid #f3f3f3;
    border-bottom: 7px solid #f3f3f3;
    border-top-left-radius: 20px;
    padding: 20px 0;
    transition-duration: 0.2s;
    transform: scale3d(1, 1, 1)
}
.estreia .content .item:hover{
    transform: scale3d(1.1, 1.1, 1);
    background-color: #e9e9e92d;
}
.estreia .content .item ul{
    margin-top: 30px;
    list-style-type: none;
}
.estreia .content .item ul li{
    display: flex;
    align-items: center;
    margin: 13px 0;
}
.estreia .content .item ul li span{
    text-transform: capitalize;
}
.estreia .content .item ul li img{
    width: 27.688px;
    height: 18px;
    margin-right: 10px;
}
/* hr  */
.hr{
    width: 100%;
    height: 4px;
    background-color: #e2e919;
    margin: 10px 0;
}
/* PARTIC  */
.partic .content{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 100px 0;
}
.partic .content .card-item{
    flex: 30%;
}
.partic .content .card-item .text-center{
    margin: 0;
}
.partic .content .card-item img{
    width: 27.688px;
    height: 18px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
}
.partic .content .card-item .header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.partic .content .item{
    margin: 25px 0;
    border-right: 4px solid #f3f3f3;
    border-bottom: 7px solid #f3f3f3;
    border-top-right-radius: 20px;
    padding: 20px 0;
    transition-duration: 0.2s;
    max-height: 350px;
    overflow-y: scroll;
}
.partic .content .item:hover{
    background-color: #e9e9e92d;
}
.partic .content .item{
  scrollbar-width: auto;
  scrollbar-color: #e2e919 #ffffff;
}
.partic .content .item ul{
    margin-top: 30px;
    height: auto;
}
.partic .content .item ul li{
    margin: 13px 0;
    list-style-type:decimal;
}
.partic .content .item ul li span{
    text-transform: capitalize;
}

/* Chrome, Edge, and Safari */
.partic .content .item::-webkit-scrollbar {
  width: 14px;
}

.partic .content .item::-webkit-scrollbar-track {
  background: #ffffff;
}

.partic .content .item::-webkit-scrollbar-thumb {
  background-color: #e2e919;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

footer{
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 20px 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
}